<!-- Brands Section  -->
<!-- brands carousel -->
<section id="brands">
    <h2 class="hidden">&nbsp;</h2>
    <div class="container">
        <div id="brands-carousel" class="owl-carousel">
            <div class="item"><img src="~/Assets/images/brands/rapala.png" alt=""></div>
            <div class="item"><img src="~/Assets/images/brands/berkley.png" alt=""></div>
            <div class="item"><img src="~/Assets/images/brands/zoom.png" alt=""></div>
            <div class="item"><img src="~/Assets/images/brands/boomber.png" alt=""></div>
            <div class="item"><img src="~/Assets/images/brands/booyah.png" alt=""></div>
            <div class="item"><img src="~/Assets/images/brands/cotton-ordell.png" alt=""></div>
            <div class="item"><img src="~/Assets/images/brands/eagle-claw.png" alt=""></div>
            <div class="item"><img src="~/Assets/images/brands/strike-pro.png" alt=""></div>
            <div class="item"><img src="~/Assets/images/brands/heddon.png" alt=""></div>
            <div class="item"><img src="~/Assets/images/brands/rebel.png" alt=""></div>
        </div>
    </div><!-- / container -->
</section>
<!-- / brands carousel -->
