<!-- Brands Section  -->
<!-- brands carousel -->
<section id="brands">
    <h2 class="hidden">&nbsp;</h2>
    <div class="container">
        <div id="brands-carousel" class="owl-carousel">
            <div class="item"><img src="http://static.laredcazaypesca.com.mx/images/brand/rapala.png" alt=""></div>
            <div class="item"><img src="http://static.laredcazaypesca.com.mx/images/brand/berkley.png" alt=""></div>
            <div class="item"><img src="http://static.laredcazaypesca.com.mx/images/brand/zoom.png" alt=""></div>
            <div class="item"><img src="http://static.laredcazaypesca.com.mx/images/brand/boomber.png" alt=""></div>
            <div class="item"><img src="http://static.laredcazaypesca.com.mx/images/brand/booyah.png" alt=""></div>
            <div class="item"><img src="http://static.laredcazaypesca.com.mx/images/brand/cotton-ordell.png" alt=""></div>
            <div class="item"><img src="http://static.laredcazaypesca.com.mx/images/brand/eagle-claw.png" alt=""></div>
            <div class="item"><img src="http://static.laredcazaypesca.com.mx/images/brand/strike-pro.png" alt=""></div>
            <div class="item"><img src="http://static.laredcazaypesca.com.mx/images/brand/heddon.png" alt=""></div>
            <div class="item"><img src="http://static.laredcazaypesca.com.mx/images/brand/rebel.png" alt=""></div>
        </div>
    </div><!-- / container -->
</section>
<!-- / brands carousel -->
