<!-- Show the new products -->
<section id="featured-products">
    <div class="page-header text-center wsub">
        <h2>Nuevos productos</h2>
    </div><!--/ page-header -->
    <div id="products-carousel" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
        <!-- item -->
        <div class="owl-wrapper-outer">
            <div class="owl-wrapper" style="width: 4368px; left: 0px; display: block; transition: all 800ms ease; transform: translate3d(-1365px, 0px, 0px);">
                <div class="owl-item" style="width: 273px;">
                    <div class="item product">
                        <a href="single-product.html" class="product-link"></a>
                        <!-- / product-link -->
                        <img src="images/f-product7.jpg" alt="">
                        <!-- / product-image -->
                        <!-- product-hover-tools -->
                        <div class="product-hover-tools">
                            <a href="single-product.html" class="view-btn">
                                <i class="lnr lnr-eye"></i>
                            </a>
                            <a href="shopping-cart.html" class="add-to-cart">
                                <i class="lnr lnr-cart"></i>
                            </a>
                        </div><!-- / product-hover-tools -->
                        <!-- product-details -->
                        <div class="product-details">
                            <h3 class="product-title">Designer Watch</h3>
                            <h6 class="product-price">$599</h6>
                        </div><!-- / product-details -->
                    </div>
                </div>
            </div>
        </div>
        <!-- / item -->
        <!-- item -->
        <!-- / item -->
        <!-- item -->
        <!-- / item -->
        <!-- item -->
        <!-- / item -->
        <!-- item -->
        <!-- / item -->
        <!-- item -->
        <!-- / item -->
        <!-- item -->
        <!-- / item -->
        <!-- item -->
        <!-- / item -->
        <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page active"><span class=""></span></div></div></div>
    </div> <!-- / products-carousel -->
</section>
