@model  LARWebSite.ViewModels.IndexViewModel
@using LARWebSite.Utilerias

<!-- Show a collage from the categories -->
<section id="categories">
    <div class="container">
        <div class="page-header text-center wsub">
            <h2>Categorías</h2>
        </div><!--/ page-header -->
        <p class="title-description text-center">
            <!-- Description -->
             Conoce nuestra gran variedad de artículos para Caza y Pesca. 
            <!-- Ends description section -->
        </p>
        <div class="row">
            @foreach (var _category in Model.Categorias)
            {
                <!-- Category Item -->
                <div class="col-sm-4 category">
                    <a href="@Url.Action("gallery", "home", new {page = 1, id = _category.IdCategoria, category = _category.NombreCategoria.ToSeoUrl() })">
                        <div class="category-item">
                            <img src="~/Assets/images/categories/@_category.ImagenCategoria" alt="@_category.NombreCategoria">
                            <div class="overlay">
                                <div class="caption">
                                    <h4>@_category.NombreCategoria</h4>
                                </div>
                            </div>
                        </div><!-- / category-item -->
                    </a>
                </div><!-- / category -->
                <!-- Ends the category item -->
            }

        </div><!-- / row -->
    </div><!-- / container -->
</section>
