@model  LARWebSite.ViewModels.IndexViewModel


<div class="main-gallery">
    @foreach (var slide in Model.Carousel)
    {
        
            <div class="gallery-cell" style="background:url(../../../Assets/images/slider/@slide.Imagen) no-repeat center;cursor:pointer;">
            </div>
               
    }
</div>

