@model  LARWebSite.ViewModels.IndexViewModel

<div class="main-gallery">
    @foreach (var slide in Model.Carousel)
    {

        if (String.IsNullOrEmpty(slide.UrlResource))
        {
            <!-- Div item big slider container -->
            <div class="gallery-cell red-big-slider-img" style="cursor:auto;">
                <picture>
                  <source srcset="http://static.laredcazaypesca.com.mx/images/slider/@slide.Imagen, http://static.laredcazaypesca.com.mx/images/slider/@slide.Imagen 2x" media="(min-width: 680px)">
                  <img srcset="http://static.laredcazaypesca.com.mx/images/slider/@slide.ImgSmall, http://static.laredcazaypesca.com.mx/images/slider/@slide.ImgSmall 2x" alt="…">
                </picture>
            </div>
        }
        else
        {

            <!-- Div item big slider container -->
            <div class="gallery-cell red-big-slider-img red-slide-get-link" data-red-link-slide="@slide.UrlResource" style="cursor:pointer;">
                <!--img src="~/Assets/images/slider/@slide.Imagen" alt="Alternate Text" /-->
                <picture>
                    <source srcset="http://static.laredcazaypesca.com.mx/images/slider/@slide.Imagen, http://static.laredcazaypesca.com.mx/images/slider/@slide.Imagen 2x" media="(min-width: 680px)">
                    <img srcset="http://static.laredcazaypesca.com.mx/images/slider/@slide.ImgSmall, http://static.laredcazaypesca.com.mx/images/slider/@slide.ImgSmall 2x" alt="…">
                </picture>
            </div>
        }
    }
</div>


