@model  LARWebSite.ViewModels.IndexViewModel

@{ 
    int i = 0;
}

<div class="main-gallery">
    @foreach (var slide in Model.Carousel)
    {

        if (String.IsNullOrEmpty(slide.UrlResource))
        {
            <!-- Div item big slider container -->
            <div class="gallery-cell red-big-slider-img" style="cursor:auto;">
                <picture>
                  <source srcset="~/Assets/images/slider/@slide.Imagen, ~/Assets/images/slider/@slide.Imagen 2x" media="(min-width: 800px)">
                  <img srcset="~/Assets/images/slider/@slide.ImgSmall, ~/Assets/images/slider/@slide.ImgSmall 2x" alt="…">
                </picture>
            </div>
        }
        else
        {

            <!-- Div item big slider container -->
            <div class="gallery-cell red-big-slider-img red-slide-get-link" data-red-link-slide="@slide.UrlResource" style="cursor:auto;">
                <!--img src="~/Assets/images/slider/@slide.Imagen" alt="Alternate Text" /-->
                <picture>
                    <source srcset="~/Assets/images/slider/@slide.Imagen, ~/Assets/images/slider/@slide.Imagen 2x" media="(min-width: 800px)">
                    <img srcset="~/Assets/images/slider/@slide.ImgSmall, ~/Assets/images/slider/@slide.ImgSmall 2x" alt="…">
                </picture>
            </div>
        }


        i++;
    }
</div>


