<!-- Jumbotron is the message was successfully sent -->
<div class="jumbotron">
    <h1>Tu mensaje se envió correctamente</h1>
    <p>Pronto atenderemos tu solicitud. </p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Inicio</a></p>
</div>
