<!-- Jumbotron is the message was successfully sent -->
<br /><br />
<div class="container">
    <div class="alert alert-success">
        Tu mensaje se envió correctamente.
    </div>
    <div style="min-width:100%;padding:20px;box-shadow:1px 0px 3px rgba(0,0,0,0.2);">
        Pronto atenderemos tu solicitud.
        <hr />
        Sigue navegando y conoce más sobre nuestra gran variedad de artículos para Caza y Pesca.<br /><br />
        <ul class="list-inline">
            <li><a href="/">Inicio</a></li>
            <li><a href="/home/about">Sobre nosotros</a></li>
            <li><a href="/home/contacto">Contacto</a></li>
            <li><a href="/home/offers">Ofertas</a></li>
        </ul>
    </div>
</div>
