
@{
    ViewBag.Title = "Quiénes somos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-header" class="about">
    <div class="container">
        <div class="page-header-content text-center">
            <div class="page-header wsub">
                <h1 class="page-title fadeInDown animated first">Quiénes somos</h1>
            </div><!-- / page-header -->
            <h4>La Empresa líder en la venta y distribución de artículos de Caza y Pesca en Aguascalientes.</h4>
            
        </div><!-- / page-header-content -->
    </div><!-- / container -->
</div><!-- / page-header -->

<!-- Section About -->
@Html.Partial("aboutPartialViews/_aboutMisionAndVision")
<!-- Ends section about -->
