@model IEnumerable<LARWebSite.Models.MenuClasses.CategoriasModel>

@{

    ViewBag.Title = "Galería de artículos";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@if (!Model.Any())
{
    <div class="alert alert-success">
        No se encontraron registros de categoría.
    </div>
}
else
{
    <section id="shop">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    @foreach (var _categoryGroup in Model)
                    {
                        <a href="#" data-red-id-category="@_categoryGroup.IdCategoria" class="list-group-item">@_categoryGroup.NombreCategoria</a>

                    }
                </div>
            </div>
            <div class="col-md-9" style="border:1px solid rgba(0,0,0,0.09);min-height:300px;">
                <!-- preloader -->
                
                    <div class="spinner spinner-round"></div>
               
            </div>
        </div>
    </section>
}

@section scripts{

    <script>
        (function () {
            setTimeout(function () {

                var id = 2;

                history.pushState({ id }, 'Initial pushstate', 'http://localhost:49895/home/gallery?readstatus=false');
            }, 2500);
        })();
    </script>
}
