@model IEnumerable<LARWebSite.Models.MenuClasses.CategoriasModel>
@using LARWebSite.Utilerias

<div class="widget-title">
    <h4>Categorías</h4>
</div>
<div class="link-widget">

    @foreach (var category in Model)
    {
    <div class="info">
        <a href="@Url.Action("category", "search", new { id = category.IdCategoria, category = category.NombreCategoria })">@category.NombreCategoria</a>
    </div>
    }

</div>
