@{
    ViewBag.Title = "Bienvenid@ ";
    <div id="page-header" class="contact">
        <div class="container">
            <div class="page-header-content text-center">
                <div class="page-header wsub">
                    <h1 class="page-title fadeInDown animated first">Contact</h1>
                </div><!-- / page-header -->
                <p class="slide-text fadeInUp animated second">Your page's description goes here...</p>
            </div><!-- / page-header-content -->
        </div><!-- / container -->
    </div><!-- / page-header -->
}


<!-- Landing page slider  -->
@Html.Partial("indexPartialViews/_slider")

<!-- Brands slider -->
@Html.Partial("indexPartialViews/_brands")