@model LARWebSite.ViewModels.MenuViewModel



@foreach(var menu in Model.MasterMenu)
{


<li>
    <a href="#">&nbsp;&nbsp;@menu.MainType<span class="arrow"></span></a>

    @if (menu._TypeCategorias.Any())
    {
        <div class="megamenu clearfix halfmenu" style="box-shadow:1px 0px 2px rgba(0,0,0,0.4);">
           

                @foreach (var _typeCategory in menu._TypeCategorias)
                {

                    
                    foreach (var _categories in _typeCategory.Categories)
                    {
                        
                        if (_categories.SubCategories.Any())
                        {
                            <ul class="megacollink">
                            <li class="title">@_categories.Category</li>
                            @foreach (var _subCategory in _categories.SubCategories)
                            {
                                <li><a href="#">@_subCategory.SubCategory</a></li>
                            }

                            </ul>
                        }
                        
                    }
                   
                }

            
        </div>
                  }

</li>
    
}


