@model LARWebSite.ViewModels.ProductDetailViewModel
@using LARWebSite.Utilerias
<div class="container">
    <!-- Show the related products -->
    <section id="related-products" data-brand="@Model.Producto.IdMarca" data-category="@Model.Producto.IdCategoria" data-subcategory="@Model.Producto.IdSubCategoria" data-ajax-async-loaded="false">
        <h4 class="space-left space-bottom-30">Otros clientes también vieron</h4>
        <!--/ page-header -->
        <!-- Item section -->
        <!-- //////////// -->
        <div id="red-content-related-products">
            <br /><br />
            <div class="spinner spinner-round" style="position:relative;"></div>
        </div>


        <!-- Item section -->
        <!-- //////////// -->

    </section>
</div>

