@model IEnumerable<LARWebSite.Models.ItemProductModel>
@using LARWebSite.Utilerias

@{
    ViewBag.Title = ViewBag.BrandTitle;

}
<br />
<section id="shop">
    <div class="page-header text-center wsub">
        <h2>@ViewBag.BrandTitle</h2>
    </div><!--/ page-header -->
    <hr />

    @if (!Model.Any())
    {
        <div class="container">
            <div class="alert alert-success">
                No se encontraron productos para <i>@ViewBag.BrandTitle</i>
            </div>
        </div>

    }
    else
    {
        <!-- Ends filter section -->
        <div class="container">
            <div id="reload-red-ajax-container">
                <!-- Include Partial View -->
                @Html.Partial("_brandProductsSearch/_serverRenderBrandsView")
            </div>
        </div><!-- / container -->
    }


</section>
<br /><br />

@section scripts
{
      <script>
          (function(){
              $(document).on("click", ".red-btn-brand-load-records", function (e) {

                  e.preventDefault();

                  var self = $(this);

                  try {

                      $.ajax({
                          url: window.location.origin + "/search/brandrecords?id=" + self.attr("data-brand-id") + "&name=" + self.attr("data-brand-name") + "&records=" + self.attr("data-total-records"),
                          type: "post",
                          cache: false,
                          success: function (response) {
                              console.log(response);
                              $("#reload-red-ajax-container").html(response);
                          },
                          error: function (xhr, j, p) {
                              console.log(xhr.responseText);
                          }
                      });

                  } catch (e) {
                      console.log(e);
                  }
              });
          })();
      </script>
}