@using PagedList
@using PagedList.Mvc
@model IPagedList <LARWebSite.Models.ItemProductModel>
@using LARWebSite.Utilerias

@{
    ViewBag.Title = ViewBag.CategoryName;

    string _categoryName = ViewBag.CategoryName;

}
<br />
<section id="shop">
    <div class="page-header text-center wsub">
        <h2>@ViewBag.CategoryName</h2>
    </div><!--/ page-header -->
    <hr />

    @if (!Model.Any())
    {
        <div class="container">
            <div class="alert alert-success">
                No se encontraron productos para <i>@ViewBag.CategoryName</i>
            </div>
        </div>

    }
    else
    {
        <!-- Ends filter section -->
        <div class="container">

            <div>
                @Html.Partial("_itemProductRenderPage")
            </div>

            <!-- Pagination Components -->
            <div class="row">
                <div class="col-md-12" style="text-align:center;">
                    @Html.PagedListPager(Model, page => Url.Action("category", new { page, id = ViewBag.CategoryId, category = _categoryName.ToSeoUrl() }))
                </div>
            </div>
        </div><!-- / container -->
    }


</section>
<br /><br />

@section scripts
{
 
}