<div class="stuck-menu">
    <div class="container">
        <div class="megamenu">
            <h3>Categories</h3>
            <ul class="sf-menu sf-js-enabled sf-arrows">
                <li class="sf-with-mega">
                    <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=18" class="sf-with-ul">Freshwater fishing</a>
                    <ul class="sf-mega" style="display: none;">
                        <li class="sf-mega_row" style="opacity: 0;">
                            <div class="sf-mega_section" style="width: 20%">
                                <div class="submenu_title">
                                    <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=37">
                                        Rods
                                    </a>
                                </div>
                                <ul>
                                    <li>
                                        <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=42">Shimano</a>
                                    </li>
                                    <li>
                                        <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=36">Spinning</a>
                                    </li>
                                    <li>
                                        <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=33">Baitcasting</a>
                                    </li>
                                    <li>
                                        <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=34">Surf</a>
                                    </li>
                                    <li>
                                        <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=35">Jigging</a>
                                    </li>
                                    <li>
                                        <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=43">All Rods</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="sf-mega_section" style="width: 20%">
                                <div class="submenu_title">
                                    <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=38">
                                        Reels
                                    </a>
                                </div>
                                <ul>
                                    <li>
                                        <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=44">Avet</a>
                                    </li>
                                    <li>
                                        <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=45">Shimano</a>
                                    </li>
                                    <li>
                                        <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=46">Penn</a>
                                    </li>
                                    <li>
                                        <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=47">Accurate</a>
                                    </li>
                                    <li>
                                        <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=48">Spinning</a>
                                    </li>
                                    <li>
                                        <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=49">Baitcasting</a>
                                    </li>
                                    <li>
                                        <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=50">Electric</a>
                                    </li>
                                    <li>
                                        <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=51">Conventional</a>
                                    </li>
                                    <li>
                                        <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=52">All Reels</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="sf-mega_section" style="width: 20%">
                                <div class="submenu_title">
                                    <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=39">
                                        Combos
                                    </a>
                                </div>
                                <ul>
                                    <li>
                                        <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=53">Spinning</a>
                                    </li>
                                    <li>
                                        <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=54">Shimano</a>
                                    </li>
                                    <li>
                                        <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=55">Penn</a>
                                    </li>
                                    <li>
                                        <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=56">Daiwa</a>
                                    </li>
                                    <li>
                                        <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=57">Okuma</a>
                                    </li>
                                    <li>
                                        <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=58">Accurate</a>
                                    </li>
                                    <li>
                                        <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=59">Fin-Nor</a>
                                    </li>
                                    <li>
                                        <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=60">Quantum</a>
                                    </li>
                                    <li>
                                        <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=61">All Combos</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="sf-mega_section" style="width: 20%">
                                <div class="submenu_title">
                                    <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=40">
                                        Lures
                                    </a>
                                </div>
                                <ul>
                                    <li>
                                        <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=62">Plugs</a>
                                    </li>
                                    <li>
                                        <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=63">Jigs</a>
                                    </li>
                                    <li>
                                        <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=64">Bucktails</a>
                                    </li>
                                    <li>
                                        <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=65">Berkley Gulp!</a>
                                    </li>
                                    <li>
                                        <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=66">Trolling Lures</a>
                                    </li>
                                    <li>
                                        <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=67">Soft Baits</a>
                                    </li>
                                    <li>
                                        <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=68">All Lures</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="sf-mega_section" style="width: 20%">
                                <div class="submenu_title">
                                    <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=41">
                                        Line &amp; leader
                                    </a>
                                </div>
                                <ul>
                                    <li>
                                        <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=69">PowerPro</a>
                                    </li>
                                    <li>
                                        <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=70">Mono Line</a>
                                    </li>
                                    <li>
                                        <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=71">Fluoro Line</a>
                                    </li>
                                    <li>
                                        <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=72">Braided Line</a>
                                    </li>
                                    <li>
                                        <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=73">Mono Leader</a>
                                    </li>
                                    <li>
                                        <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=74">Fluoro Leader</a>
                                    </li>
                                    <li>
                                        <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=75">All Line &amp; Leader</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=20">Tackle storage</a>

                </li>
                <li>
                    <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=25">Saltwater fishing</a>

                </li>
                <li>
                    <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=28">Fly fishing</a>

                </li>
                <li>
                    <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=29">Boats</a>

                </li>
                <li>
                    <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=30">Electronics</a>

                </li>
                <li>
                    <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=31">Apparel</a>

                </li>
                <li>
                    <a href="https://livedemo00.template-help.com/opencart_63612/index.php?route=product/category&amp;path=32">Lures</a>

                </li>
            </ul>
        </div>
        <script>
	;(function ($) {
		$(window).load(function () {
			var o = $('.sf-menu');
			o.superfish();
			o.find('li a').each(function () {
				if ($(location).attr('href').indexOf($(this).attr('href')) >= 0){
					$(this).addClass('active');
					return;
				}
			})
			if (o.parents('aside').length){
				var width = $('.container').outerWidth() - $('aside').outerWidth();
				o.find('.sf-mega').each(function () {
					$(this).width(width);
				})
			}
		});
	})(jQuery);
        </script>
    </div>
</div>