<!-- Partial View About -->
<!-- about -->
<section id="about">
    <div class="container">
        
        <!-- Company Hisory Section -->
        <div class="text-wrap">
            <div class="page-header text-center space-top-30">
                <h3>La Red Caza y Pesca - Historia</h3>
            </div><!-- / page-header -->
            <p class="large-p">
                Después de haber trabajado para una empresa dedicada a la compra-venta de artículos para casería, pesca y campismo por espacio de 10 años desde el año de 1991, en al año 2001 empieza a nacer en un servidor la idea de crear un negocio que cubriera las expectativas de un creciente numero de pescadores que para entonces representaba una buena oportunidad de negocio en el estado y que por estar demasiado diversificado el giro de la empresa en que laboraba, no cubría al 100% la demanda de productos y novedades que los mismos clientes necesitaban día con día.
            </p>
            <hr />

            <!-- Image section -->
            <div class="row">
                <div class="col-md-12 about-img-style">
                    <img src="~/Assets/images/cbk.jpg" />
                </div>
            </div>

            <hr />
            <br />
            <p class="large-p">
                Fue así como comencé en un principio a buscar en amigos, parientes y conocidos el apoyo económico o el financiamiento parcial para la realización del proyecto cosa que no pude lograr ya que, lo que yo les proponía llámese sociedad o préstamo de dinero no les resultaba atractivo por ser un concepto que no había sido explotado por nadie en ese tiempo, por lo que para ellos resultaba difícil medir los factores de riego para su dinero. Sin embargo y convencido de que tenia en las manos la idea de un buen negocio comencé a ahorrar todo lo que pude, a realizar los trabajos extras y seguir afinando los detalles para poder realizar el proyecto.
            </p>
            <hr />

        </div><!-- / text-wrap -->

        <!-- Row block -->
        <div class="row">
            <div class="col-md-5 about-img-style">
                <img src="~/Assets/images/cbk_1.jpg" alt="Alternate Text" />
            </div>
            <div class="col-md-7">
                <p class="large-p">
                    Pero no fue solamente el problema del financiamiento, empecé a darme cuenta que el proyecto debía incluir entre otras cosas elementos que nos dieran identidad propia, como lo son un nombre que fuera fácil de recordar, un logotipo que relacionara plenamente el giro del negocio con las expectativas del mercado, también me di cuenta que si hasta el momento no había en el estado un negocio similar, esto se debía principalmente a la poca visión por parte de los competidores en el mercado, tenia también mucho que ver la falta de proveedores en el ramo de la pesca, pero esto no significó un obstáculo, sino, todo lo contrario. Me dio la pauta para buscar soluciones mas allá de la frontera, fue ahí en donde me di cuenta que en realidad mi idea no era del todo descabellada, ya que negocios similares en los estados unidos comenzaban a tener más exito en el mercado.
                </p>
                <br />
                <p class="large-p">
                    Es así como después de dos años de plantación, sacrificios y ahorro, en el año 2003 pude abrir las puertas de mi negocio denominado “La Red Caza y Pesca” mismo que fue la primera tienda con atención al publico de su tipo en el estado.
                </p>
            </div>
        </div><!-- //// -->
        <br /><hr />

        <!-- Row block -->
        <div class="row">
            <div class="col-md-6">
                <!-- Mision Section -->
                <div class="page-header text-center space-top-30">
                    <h3>Misión</h3>
                </div><!-- / page-header -->
                <p class="large-p">
                    Ofrecer una gran variedad de productos y accesorios de la más alta calidad, así como también
                    Somos una empresa en la venta y distribución de artículos para la pesca deportiva, la caza y el campismo, con el objetivo de alcanzar mayores estándares de utilidad que los años anteriores y organizar eventos y torneos de pesca deportiva más importantes del estado de Aguascalientes.
                </p>

            </div>
            <div class="col-md-6">
                <!-- Vision Section -->
                <div class="page-header text-center space-top-30">
                    <h3>Visión</h3>
                </div><!-- / page-header -->
                <p class="large-p">
                    Ser la empresa líder en la venta de productos e implementos para Pesca, Caza y Campismo en el estado de Aguascalientes; además de seguir ampliando la atención y oferta de nuestros productos mediante la creación de nuevas sucursales en los estados vecinos.
                </p>
            </div>
        </div>
    </div><!-- / container -->
</section>
<!-- / about -->
