@model IEnumerable<LARWebSite.Models.ProductModel>

@{
    ViewBag.Title = ViewBag.TitleBrand;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var product in Model)
{
    <span>@product.NombreProducto</span>
    <span>@product.Marca</span>
}

